@font-face {
    font-family: 'MR';
    src: url(/Шрифты/mr_countryhouseg.ttf);
}
@font-face {
    font-family: 'panton';
    src: url(/Шрифты/pantonrustscrsmbold-gr.ttf);
}
*{
    font-family: 'MR', monospace;
    font-weight: 400;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-image: url(img/snow.png);
    background-color: #DDF9FF;
    background-size: 1500px;
    background-repeat: repeat-y;
    background-attachment: fixed;
    margin-bottom: 20px;
}

header{
    display: flex;
    gap: 300px;
    justify-content: center;
    padding: 40px 0;
}
.logo{
    width: 480px;
    height: 100px;
}
.addChild{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addChild-h{
    font-size: 35px;
    margin-bottom: 30px;
}
.input{
    font-size: 30px;
    margin-bottom: 30px;
    background: none;
    border: none;
    outline: none;
    border-bottom: rgba(240, 15, 0, 0.3) solid 2px;
    transition: border-bottom ease-in-out 100ms;
}
.input:focus{
    border-bottom: rgba(240, 15, 0, 1) solid 2px;
}
.button{
    font-size: 30px;
    background: #FF4A4A;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background ease-in-out 0s 200s;
    transition: all ease-in-out 200ms;
}
.button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.button:active {
    background: #ff8e8e;
    transition: 0s;

    cursor: auto;
    transform: none; /* Отменяем все стили hover*/
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button:disabled {
    color: #000;
    background: #FF4A4A;

    cursor: auto;
    transform: none; /* Отменяем все стили hover*/
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.comments {
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 40px;
    margin: 10px 0 50px 0;
}
.title2 {
    width: 228px;
    margin-bottom: 30px;
    text-align: center;
    text-wrap: wrap;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
}
.card{
    min-width: 228px;
    min-height: 158px;
    box-sizing: border-box;
    background:#FF4A4A;
    border-radius: 31px;
    border: #000 solid 1px;
    transition: all ease-in-out 300ms;
}
.card:hover {
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.35);
}
.example {
    /* color: #484848 !important; */
    opacity: 0.6;
}

.name-container{
    display: flex;
    border-bottom: #000 solid 1px;
    gap: 24px;
    margin-right: 5px;
}
.name{
    font-size: 20px;
    color: #000;
    margin: 13px 0 5px 16px;
}
.name-value{
    font-family: 'panton', sans-serif;
    font-size: 20px;
    margin: 15px 0 7px 0;
    user-select: text;
    text-wrap: wrap;
}
.want-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    gap: 13px;
    margin: 0 10px;
}
.want{
    font-size: 20px;
}
.want-value{
    max-width: 228px;
    max-height: 100px;
    font-family: 'panton', sans-serif;
    font-size: 16px;
    text-align: center;
    overflow-wrap: break-word;
    user-select: text;
}

/* Popup */
.popup__back {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    overflow:hidden;
}
.popup__back-none{
    display: none;
}
.popup__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    background-image: url(img/snow.png);
    background-color: #DDF9FF;
    background-repeat: repeat-y;
    background-attachment: fixed;
    border-radius: 30px;
    width: 45%;
    height: 55%;
}
.popup__form{
    margin-top: 40px;
}
.popup__delete{
    background: none;
    border: 1px solid red;
    color: red;
    margin-top: 20px;
    transition: background ease-in-out 0s 200s;
    transition: all ease-in-out 200ms;
}
.popup__delete:hover {
    background: #FF4A4A;
    color: #000;
    cursor: pointer;
    transform: none; /* Отменяем все стили hover*/
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
.popup__delete:active{
    background: #ff8383;
    border: none;
    transition: 0s;
}
.popup__x{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    font-family: monospace;
    color: #000;
    opacity: 0.5;
    font-size: 30px;
    margin: 5px 15px 0 0;
}
.popup__x:hover{
    opacity: 1;
    cursor: pointer;
}


@media screen and (min-width: 450px) and (max-width: 1100px) {
    .logo{
        width: 300px;
        height: 65px;
    }
    body{
        background-size: 1000px;
    }
    
    header{
        gap: 150px;
        padding: 20px 0;
    }
    .addChild-h{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .input{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .button{
        font-size: 22px;
        padding: 7px 15px;
    }
    .button:hover {
        cursor: pointer;
        transform: none; /* Отменяем все стили */
        box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .title{
        font-size: 25px;
        margin: 10px 0 25px 0;
    }
    .title2 {
        width: 150px;
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
        text-wrap: wrap;
    }
    .main-container{
        gap: 17px;
    }
    .card{
        min-width: 150px;
        min-height: 130px;
    }
    .card:hover {
        transform: none;
        box-shadow: none;
    }
    .name-container{
        gap: 12px;
    }
    .name{
        font-size: 16px;
        margin: 11px 0 3px 14px;
    }
    .name-value{
        font-size: 16px;
        margin: 13px 0 5px 0;
    }
    .want-container{
        padding-top: 5px;
        gap: 8px;
    }
    .want{
        font-size: 16px;
    }
    .want-value{
        width: 150px;
        height: 30px;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) and (hover: none) and (pointer: coarse) {
    .logo{
        width: 300px;
        height: 65px;
    }
    body{
        background-size: 500px;
    }
    
    header{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 10px;
    }
    main{
        text-align: center;
    }
    .addChild-h{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .input{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .button{
        font-size: 22px;
        padding: 7px 15px;
    }
    .button:hover {
        cursor: auto;
        transform: none; /* Отменяем все стили */
        box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    .title{
        font-size: 25px;
        margin: 10px 0 25px 0;
    }
    .title2 {
        font-size: 20px;
        width: 150px;
        margin-bottom: 20px;
        text-align: center;
        text-wrap: wrap;
    }
    .main-container{
        gap: 17px;
    }
    .card{
        min-width: 150px;
        min-height: 130px;
    }
    .card:hover {
        transform: none;
        box-shadow: none;
    }
    .name-container{
        gap: 12px;
    }
    .name{
        font-size: 16px;
        margin: 11px 0 3px 14px;
    }
    .name-value{
        font-size: 16px;
        margin: 13px 0 5px 0;
    }
    .want-container{
        padding-top: 5px;
        gap: 8px;
    }
    .want{
        font-size: 16px;
    }
    .want-value{
        width: 150px;
        height: 30px;
        font-size: 13px;
    }

    .popup__container {
        width: 55%;
        height: 40%;
    }
    .popup__form {
        transform: scale(0.9);
    }
}
